{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    {% for session in sessions %}
    <div>
        <a href="{{ path('info_session',{'id': session.id}) }}">{{ session.name }}</a>
    </div>
    {% endfor %}
    {{ form_start(formAddSession) }}
        {{ form_row(formAddSession.name) }}
    {{ form_end(formAddSession) }}
{% endblock %}
