{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div id="main">

    </div>
    <div id="sideBar">
        <div id="toggleSideBar">
            <a href="">< <br> <</a>
        </div>
        <div id="menu">
            <a href="">Equipe</a>
            <a href="">Carte</a>
            <a href="">Caractéristique</a>
            <a href="">Inventaire</a>
            <a href="">Action</a>
        </div>
        <div id="message">
            <div>
                {% for message in session.messages %}
                <div title="{{ message.creationDate | date("\\l\\e m/d/Y à h\\hm s\\s") }}">
                    <div class="user">
                        {{ message.author.id }}
                    </div>
                    {{ message.content }} 
                </div>
                {% endfor %}
            </div>
            
            {# MessageForm #}
            {{ form_start(formAddMessage) }}
                {{ form_widget(formAddMessage.content) }}
            {{ form_end(formAddMessage) }}
        </div>
    </div>
{% endblock %}
