{% extends 'base.html.twig' %}

{% block title %}Hello CharacterStatsController!{% endblock %}

{% block body %}
{{ form_start(formCharacterStats) }}
    <div id="ficheInfo">
        {% for info in CharacterStats.info %}
            {{ form_widget(formCharacterStats.info.name) }}
        {% endfor %}
    </div>
    <div id="ficheCaracteristique">
        {% for info in CharacterStats.caracteristique %}
            {{ form_widget(formCharacterStats.caracteristique.name) }}
        {% endfor %}
    </div>
    <div id="ficheCompetence">
        {% for info in CharacterStats.competence %}
            {{ form_widget(formCharacterStats.competence.name) }}
        {% endfor %}
    </div>
    <div id="ficheInventaire">
        {% for info in CharacterStats.inventaire %}
            {{ form_widget(formCharacterStats.inventaire.name) }}
        {% endfor %}
    </div>
    <div id="ficheStatsAdditionnel">
        {% for info in CharacterStats.statsAdditionnel %}
            {{ form_widget(formCharacterStats.statsAdditionnel.name) }}
        {% endfor %}
    </div>
{{ form_end(formCharacterStats) }}
{% endblock %}
